.box-container {
  height: 50vh;
  border: 1px solid black;
}
#box-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  background-color: rgba(174, 238, 217, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;

  /* transition: 변환속성 애니메이션시간; */
  transition: 5s cubic-bezier(0.64, 0.03, 0.41, 0.08) liear; /* all 1s   <-이런식으로 해도되긴 하는데 생략해도 된다. */
}
.box:hover {
  background-color: rgba(241, 241, 115, 0.8);
  /* transform: 변형함수(); */
  /* scale : 지정한 크기만큼 확대/축소하는 함수 */
  transform: scale(0.5);
  /* rotate: 지정한 각도만큼 회전시키는 함수 */
  transform: rotate(30deg);
  /* skew : 지정한 각도만큼 비틀어 왜곡하는 함수 */
  transform: skewY(30deg);
  transform: skewX(-30deg);
  /* translate : x축, y축, z축 방향으로 이동시키는 함수 */
  transform: translate(100px);
  transform: translate3d(100px, 200px, 100px);
  transform: scale(1.5) rotate(15deg);

  /* transform-origin: 변형의 기준점을 변경하는 속성 */
  transform-origin: left top; /* 왼쪽끝을 기준으로 */
  transform-origin: right top; /* 오른쪽 끝을 기준으로 */
}















display: flex;
align-items: center;
justify-cintent: center;
/* animation : name duration iteration-count timing-function delay direction;
- name: 설정된 keyframe 지정
- duration: 실행 시간 지정
- iteration-count: 반복 횟수 지정
- timing-function : 속도 형태 지정,
- delay : 대기 시간 지정
- direction: 진행 형태 지정

*/
animation: boxAni 5s linear;
animation: boxAni 5s linear 3;
animation: boxAni 5s linear infinite;
animation: boxAni 5s linear infinite alternate;
animation: boxAni 5s linear infinite reverse;
animation: boxAni 5s linear infinite alternate-reverse;
animation: boxAni 5s linear forwards;
}
.animation-box:hover {
  animation-play-state: paused; /* 경수. 마우스 갖다대면 중간에 멈춤 */
  background-color: yellow;

}

/* 경수: 위의 것들은 그나마 쓰는 것들임.
infinite : 숫자지정이 아닌 무한 반복도 있음.  
forwards: 끝 점에서 멈춰있음

*/

}











/* 3D */
#box-container3: hover .card {
  dispaly: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg)
}

.card {
  width: 200px;
  height: 200px;
  background-image: url(../)
  background-size: cover;
  background-position: center;
  transform: rotateY(45deg);
  transform: perspective(400px) rotateY(
  transform: rotateY(0deg);
  transition: 3s;
  width: 100%
}
.card-item-back {
  background-color: caretblue;
  display: 
}
 