header {
  text-align: center;
  border-bottom: 1px solid #eee;
}
header h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}
header a {
  color: gray;
  padding: 10px;
}

@media screen and (min-width: 800px) {
  header h1 {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: tranlsate(-50%, 0);
  }
  header nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
  }

  header nav > * {
    width: 100%;
  }
  header nav a {
    display: inline-block;
    line-height: 40px;
  }
}

main {
  text-align: center;
  font-weight: bold;
  padding: 20px;
}
main h2 {
  font-size: 3rem;
  margin-bottom: 15px;
}

main h3 {
  font-size: 2.2rem;
}

#main-content {
  /* flex를 주로하다가 좀 애매한 것을 그리드로 하는 편 */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#main-content .circle {
  /* 어떤 모니터로 봐든 끼짖만 않으면 된다.  */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 20px;
}

#main-content .circle:nth-child(1) {
  background-color: indianred;
}
#main-content .circle:nth-child(2) {
  background-color: coral;
}
#main-content .circle:nth-child(3) {
  background-color: cadetblue;
}
#main-content .circle:nth-child(4) {
  background-color: steelblue;
}

#contents {
  padding: 10px;
}

#contents h2 {
  font-size: 1.8rem;
  font-weight: bold;
  padding-bottom: 10px;
}

.article-content {
  margin-bottom: 20px;
}

.article-content img {
  width: 100%;
  margin-bottom: 10px;
}
.aside-content {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.aside-content img {
  width: 30%;
  margin-right: 10px;
}
.article-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.article-content img {
  width: 100%;
  max-width: 400px;
}

@media screen and (min-width: 737px) #main-content .circle {
  width: 250px;
  height: 250px;
  margin: 40px;
}
@media screen and (min-width: 800px) {
}
@media screen and (min-width: 977px) #main-content .circle {
  width: 20px;
  height: 200px;
  margin: 20px;
}
@media screen and (min-width: 1200px);

#contents {
  display: flex;
}

contents article {
  margin-right: 20px;
}
