header {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#section1 img {
  width: 50%;
  /* max-width: 400px; */
  margin-top: 15px;
  margin-bottom: 15px;
  align-self: center;
}
#section2 img {
  width: 200px;
}

.container {
    display: flex;
}


img {
display: flex;
flex-wrap: wrap;
flex-direction

a {
    justify-content: space-evenly;
} 
