h1 {
    background: pink;
    color
}
h1 {}
ackground: skyblue;
}
#id1 {
    background: pink;
}
/*경수, 구글 웹 폰트: fonts.google.com */

.class1 {
    background: yellowgreen;
    color: red;
}
#14 class
font-family: "Gugi", sans-serif;
font-family: "Rubik" Bubbles";
}
div {
    backroun: teal !important:
    colof shi

}