





#fixed-size {
    width: 200px;
}
#variable-size {
    width: 50%;
}
/* display */
.display{
    widht: 150px;
    height: 50px;
    backgroound-color: 

    .display-inline {
        display: inline;
    }
    
    .display-block {
        display: inline;
    }
    .display-inline-block {
        display: inline-block;
    }

    /* padding, margin */
    .space {
        width: 100px;
        height: 100px;
        background-color: beige;
    }
    #padding1 {
        paddingd: 10px;
    }
    #padding2 {
        padding-top: 10px;
        /* top,  */
        padding-right: 100px;

        /* 위/아래 :50px, 좌우 : 30px */
        padding: 50px 30px;

    }

    margin2 {
        margin-top: 60px;
        margin-left: 20px;
        /* 위/아래 50px, 좌/우 30px */
        margin: 50px 30px;
        /* 상 우 하 좌 */
    margin: 30px 50px;

    /* 테두리 스타일 */
    #border1 {
        /* dashed : 테두리를 짧은 선으로 표시 */
    border-style: dashed;        
    }
    #border2 {
        /* dashed : 테두리를 점선으로 표시 */
        border-style
    border-style: datted;
    border-color: hotpink
    border-color: hotpink
    border-color: hotpink
            borderborder-color: hotpink
border-right-nbl                                                                                                                                                                                                                                                                                                                                                         color: hotpink


$border {
        /* double 테두리를 이중선으로 효시
  border-stle: douo
    


/












/* 포지셔닝 */
/* float */
.float { 
width: 100px;
height: 100px;
border: 1px solid;
float: left;
}

/* position */
#outer {
    position: relative;     /* absolute는 최상단에 맞춰서 */
    top: 10px;
    width: 300px;
    height: 300px;
    background-color: yellow;
}

#first {
    top: 10px;
    left: 50px;
    width: 200px;
    height: 200px;
    backgroind-color: yellowgreen;
}
#second {
    position: absolute; 
    top: 100px;
    left: 100px;
    width: 100px;
    height: 100px;
    background-color: red;
}

#fixed {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 100px;
    height: 100px;
    background-color: blue;
}




