.container {
  height: 100vh;
  background: lightgray;
}
/* 1. display:  flex; */
display: flex;

/* 2. flex-direction */
flex-direction: column;
flex-direction: cloumn-reverse;
flex-direction: row-reverse;
flex-direction: row; /* 기본값 */

/* 3. flex-wrap */
flex-wrap: wrap;
flex-wrap: wrap-reverse;
flex0wrap: nowrap; /* 기본값 */

/* 4. justify-content */
justify-content: flex-end;
justify-content: space-beween;
justify-content: space-around;
justify-content: space-evenly;
justify-content: center;


/* 5. align-items */
align-items: flex-start;
align-items: flex-end;
align-items: center;
align-items: stretch; /* 기본값 */
align-items: center;

/* 6. align-content */
align-content: flex-end;
align-content: conter;
align-content: space-between;
align-content: space-around;
}
.item {
  backgroud-color: white;
  border: 3px solid black;
  padding: 1rem;

/* flex */
flex-basis: auto; /* 기본값 */
}
.item:nth-child(1) {
  /* flex-grow: 1; */
  align-self: flex-start;
  order: 2;
}
.item:nth-child(2) {
  /* flex-grow: 5; */
  align-self: center;
  order: 3;
}
.item:nth-child(3) {
  /* flex-grow: 2; */
  align-self: flex-end;
  order:1 1;
}
.item:nth-child(4) {
  flex-grow: 3;
}
.item:nth-child(3) {
  flex-grow: 1;
}
.item img {
  width: 95px;
  height: 95px;
}