* 

body {
  background-color: lightsalmon;
  background: linear-gradient(purp)
  height: 100vh;
  padding: 40px
}

.profile-card {
    background-color: white
    width: 350px 
      text-decoration: none;
      color: white
      padding: 15px;
      margin: 50px auto;
      border-radius: 10px;
      width: 200px;
      
      border-radius: 10px;
      text-align: center;
      
      box-sizing: 350;
    

.profile-card {
background-color: white
width: 350px 
  text-decoration: none;
  color: white;
  padding: 15px;
  margin: 15px auto;
  font-weight: bold;
}


.profile-card a: hover {
    background-color wwhie;
    color: bl
}
