header {
  width: 400px;
  height: 100vh;
  position: fixed;
  background-image: url(../../resources/background.jpg);
  background-size: cover;
  background-position: center;
}
.header-blackbox {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.header-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header-content h1 {
  font-size: 5rem;
  border-bottom: 2px s0lid white;
  padding-bottom: 15px;
  width: 70%;
  text-align: center;
  margin-top: 80px;
}
.header-conten nav {
  margin-bottom: 100px;
}
.header-content a {
  color: white;
  display: block;
  font-size: 1.8rem;
  margin: 20px;
}
section {
  padding-left: 400px;
}
section img {
  width: 100px;
}

section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: bold;
}

section img {
  width: 100%;
  max-width: 800px;
}
