/*font */

#fs1 {
  font-size: 19px;
}
#fs2 {
  font-size: 2em;
}
#fs3 {
  font-size: 2rem;
}
#fs4 {
  font-size: 150%;   %sms width height 등에서 쓰인다. 
}
#ls {
    letter-spacing: 10px;
#ws {
    letter-spacing: 1.8rem;
}
/*word-spacing */

/*text-align*/
ta1 {
    text-align: left;
}
ta2 {
    text-align: right;
}
ta3 {
    text-align: center;
}
ta4 {
    text-align: justify;
}
/*text-indent*/

ti {
    text-indent: 10px;
}
/*line-height*/

lh {
    line-height: 40px;
    line-height: 1.8;
}
/* text-overflow */



#to {background-color: beige;
width: 500px;
white-space: nowrap;
overflow: hidden:
}

/* -clip(기본값) : 영역을 넘어가는지식없으면 풀 수없는 경우ㅁ~~~*/
        #list1 {
    list-stle: disc;
    list-stle: circle;
    list-stle: square;











/*font-weight */
#fw1 {
    font-weight: bold;  /* 700정도*/     /* html에서 굵게 하는 것인 b, strong 잘 안쓴다고 했는데 이유는 font-weight를 쓰기 때문*/
}
#fw2 {
    font-weight: 900;   /*bolder가 900이다. bolder로 쓰기로 한다. */  /* 보통 bold로 한다.  */
#fw3 {
    font-weight: 100;   /*lighter과 같은 수치 lighter*/
}
#fs5 {
font-style: italic;
}


#fs6 {
font-style: oblique;
}
/* font-variant */
#fv { 
    font-variant: small-caps;
}
/* font: font-style font-varinat font-weight font-size/line-height(줄간격) font-family; 이 순서로 나옴.*/
#font1 {
    font: italic samll-caps bold 32px/2 "Gugi":=;
}
#C {
    font: 2rem "gugi";
}

#C-16{
    COLOR: #DD882E;
}
#C-rgb {
    caret-color: ;
    color: rgba(68, 223, 88,78, 0.5),

    color 색상 표현 방법

    ###색상 이름 표기법

}

#td1 {
    text-decoration: underline;
}
    



#td2 {
    text-decoration: overline;
}

#td3 {
    text-decoration: line-trought;
}
#td4 {
    text-decoration: none;
}
#td4:visited {
    color: green;
}

/**/
#tt1
text-transform: uppercase;

#tt2 {
    text-transtform: capitalize;
}

#tt3 {
    text-transform: capitalize;
}
#ts1 {
    color: orangered;
    text-shadow: 5px 5px 5px;

}
whit-space: normal;
/*nowrap : 여러 개의 공백을 하나로 표시, 영역을 넘어가는 내용은 줄바꾸지 않고 한줄로 표시*/
whit-space: nowrap;
/*pre : 여러 개의 공백을 그대로 표시, 영역을 넘어가는 내용은 줄바꾸지 않고 한줄로 표시
whit-space: pre;
/*pre-line : 여러 개의 공백을 하나로 표시 */
whit-space: preline;
/*pre-wrap : 여러 개의 공백을 하나로 표시 */
whit-space: prewrap;




text-shadow: dx dy blur color
/*ext-s
hadow */
  shado
  
  #ts2<w
  <h2> hwite-space</h2>


  /*border-box : xpenfl(border)까지저 용 (기본값) */ 
bc1 {
    /* padding-box : 테두리를 뺀 패딩(padding) 범위까지 적용 */

    background-chip: padding-box;
        /* padding-box : 내용(content) 부분에만 적용 적용 */

#bc3 {
        bakchground-clip: content-box;
    }
/* background
- background-image : 배경에 이미지를 설정하는 속성
- background-repeat : 배경에 이미지를 여부를 지정하는 속성

- background-size : 배경 이미지 크기를 조절하는 속성
contain (요소 안에 이미지가 들어가도록 확대/축소)
cover (요소 안에 이미지가 모두 덮을 때까지
  
*/

#test {
    border: 1px solid black;
    height: 800px

    background-image: url(""../)
    background-repeat: repeat;
    background-repeat: repeat;
    background-repeat: repeat;

background-size: auto;
background-size: 400px 200px
background-size: 50% 50%
background-size: content
background-size: contain;
background-size: cover;

background-position: 50px, 25px;
background-position: left bottom;

background-position: scroll;
background-attachment: fixed;