body {
    margin: 0;
}

.container
back ground-color

.item-inline-block {
    display: inine-block
    font-size l " 1rem"
    b paleturquoise;
    width: 40%;

.item-style-1 {
    background-color: paleturquoise;
    width: 40%;
}
.item-tyle-2 {
    background-color: palevioletred;
    width: 60%;
}

float, clear는 같이 스는 것을 추천한다.
fo
